
<h1>Listing Users</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>go to details</th>
  </tr>
  <%= for user <- @users do %>
    <tr>
      <td><b><%= first_name(user) %></b> (<%= user.id %>)</td>
      <td><%= link "View", to: user_path(@conn, :show, user.id) %></td>
    </tr>
  <% end %>
</table>
